.graphContainer{
    background-color: rgb(241, 200, 255);
    padding: 0.5rem 1.4rem;
    margin: 1rem 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.graphBarItem>p{
    margin: 0px;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}