.bar {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgba(46, 5, 97, 0.6);
    border-radius: 1rem;
    overflow: hidden;
    width: 0.8rem;
    height: 8rem;
    /* margin: 0.2rem 1rem; */
}

.barfill {
    background-color: rgb(46, 5, 97);
    width: 100%;
    height: 50%;
    transition: height 0.14s ease-in;
}